@model SessionRequest
@{
    ViewData["Title"] = "Create";
}

<h1>Create Session Request</h1>

<form asp-action="Create" asp-controller="SessionRequests">
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="SessionDate">Session Date</label>
        <input asp-for="SessionDate" type="datetime" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input asp-for="Location" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Details">Details</label>
        <textarea asp-for="Details" class="form-control" ></textarea>
    </div>
    <div class="form-group">
        <label asp-for="SessionType">Session Type</label>
        <select asp-for="SessionType" class="form-control">
            <option value="Wedding">Wedding</option>
            <option value="Birthday">Birthday</option>
            <option value="Engagement">Engagement</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <!-- Add other session request fields here -->
    <button type="submit" class="btn btn-primary">Create</button>
</form>
