@model Order

<h2>Payment Confirmation</h2>
<p>Thank you for your order!</p>
<p>Order ID: @Model.OrderNumber</p>
<p>Order Date: @Model.OrderDate</p>
<p>Total Amount: @Model.TotalAmount</p>

<p>Your payment has been successfully processed. You will receive a confirmation email shortly.</p>


