@using Demo.PL.Models.UserLogins
@model ClientLoginViewModel
@{
    Layout = "_AuthLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Berkshire+Swash&family=Fira+Sans:ital,wght@1,100&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&family=Oswald:wght@500&family=Raleway:ital,wght@1,500&family=Roboto:ital@1&family=Rubik+Iso&display=swap" rel="stylesheet">

    <link href="~/css/login.css" rel="stylesheet" />

</head>
<body>
    <div asp-validation-summary="All"></div>

    <!-- the big login box div -->
    <div class="login-box">
        <h2 id="h2">Log in</h2>

        <div asp-validation-summary="All"></div>
        <form asp-controller="Photographer" asp-action="photographerLogin">
            <div class="textbox">

                <!-- email -->
                <label>Email</label><br>
                <input asp-for="Email" type="email" name="email" required>
            </div>

            <!-- password -->
            <div class="textbox">
                <label>Password</label><br>
                <input asp-for="Password" type="password" name="password" required>
            </div>

            <!-- button  -->
            <input type="submit" class="btn" value="Login"><br>
            <p id="par1"> Don't have an account ? <a href="PhotographerRegister"><span> Sign up</span></a></p>
        </form>
    </div>

    @section ValidationScriptSection
    {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

</html>



