@* <h2>Upload Image</h2>

<form asp-action="UploadImage" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Upload Image In your Gallery : </label>
        <input type="file" id="imageFiles" name="imageFiles" multiple />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form> *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="~/css/uploudimg.css" rel="stylesheet" />
</head>
<body>
    <h2>Upload Image</h2>

    <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="imageFiles">Upload Image In your Gallery:</label>
            <input type="file" id="imageFiles" name="imageFiles" multiple />
        </div>
        <button type="submit" class="btn" style="background-color: orange; color: white;">Upload</button>
    </form>
</body>
</html>