<link href="~/css/findphotographer.css" rel="stylesheet" />
@{
    ViewData["Title"] = "FindPhotographer";
}

<h1>FindPhotographer</h1>
<a href="@Url.Action("NewSessionBid", "FindPhotographer")">Make a New Session Bid</a>
<a href="@Url.Action("ShowSessionBids", "FindPhotographer")">Show Your Session Bids</a>
