@model int
@* <td><a asp-action="Details" asp-route-id="@Model"><i class="fa-solid fa-eye" style="color: #74C0FC;"></i></a></td> *@
<td><a asp-action="Edit" asp-route-id="@Model"><i class="fas fa-edit"></i></a></td>
<td><a asp-action="Delete" asp-route-id="@Model"><i class="fa-sharp fa-solid fa-trash" style="color: #e60f24;"></i></a></td>
