<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/SellerHome.css">
    <title>Seller account</title>
</head>
<body>
    <!-- ///////////////////start nav section/////////////////////////////// -->
    <nav class="container">
        <p class="logo">Photocamp</p>
        <ul>
            <li><a asp-controller ="Home" asp-action="Index" >Home</a></li>
            <li><a href="Store">Store</a></li>
            <li><a href="Create">Add new product</a></li>
            <li><a href="ProductList">My product list </a></li>
        </ul>
        <a href="#" class="u-icon"> <img src="~/Files/seller-images/user-icon.svg" alt="user-icon"></a>
    </nav>
    <!-- ///////////////////end nav section/////////////////////////////// -->
    <!-- ///////////////////start welcome section/////////////////////////////// -->
    <section class="container welcome-sec">
        <div class="welc-sec1">
            <h3>Welcome to Photocamp</h3>
            <p>This is your platform to showcase your products and reach a wide audience of potential buyers. Whether you're an established seller or just starting out, our platform offers you the tools and support you need to grow your business. List your products, manage inventory, and connect with customers seamlessly. We're excited to partner with you on your journey to success in e-commerce. Let's start selling together!</p>
        </div>
        <img src="~/Files/seller-images/equipment-img.png" alt="equipment-img">
    </section>
    <!-- ///////////////////end welcome section/////////////////////////////// -->
    <!-- ///////////////////start new product section/////////////////////////////// -->
    <hr>
    <section class="container add-p">
        <h3>Add new product</h3>
        <div class="new-p">
            <a href="Addproduct"><img src="~/Files/seller-images/add-product-icon.svg" alt="add-product-icon"></a>
        </div>
    </section>
    <hr>
    <!-- ///////////////////end new product section/////////////////////////////// -->
    <!-- ///////////////////start product list section/////////////////////////////// -->
    <section class="container product-list">
        <h3>Your Product list</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>product name </th>
                    <th>amount</th>
                    <th>price</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>77</td>
                    <td>camera1</td>
                    <td>60</td>
                    <td>23,000 L.E</td>
                    <td><img src="~/Files/seller-images/update-icon.svg" alt="update-icon"></td>
                    <td><img src="~/Files/seller-images/delete-icon.svg" alt="delete-icon"></td>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- ///////////////////end product list section/////////////////////////////// -->
    <!-- ///////////////////start footer section/////////////////////////////// -->
    <footer class="footer-main">
        <div class="footer-section container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">Add new product</a></li>
                <li><a href="#">My product list</a></li>
            </ul>
            <p class="footer-logo">Photocamp</p>
            <a href="#"><img src="~/Files/seller-images/footer-icons.svg" alt="footer-icons"></a>
        </div>
        <p class="footer-p">COPYRIGHT © 2024 . ALL RIGHT RESERVED</p>
    </footer>
    <!-- ///////////////////end footer section/////////////////////////////// -->
</body>
</html>
